__pycache__/*
rawTexts/greek/perseus_texts/*
rawTexts/english/Gutenberg/*
rawTexts/english/ShakespearePlaysPlus/*
rawTexts/english/ME/*
rawTexts/icelandic/textar/*
rawTexts/icelandic/icepahc-v0.9/*
rawTexts/icelandic/MIM/*
textCounts/greek/*
textCounts/english/*
textCounts/icelandic/*
texts/*/*
output/*
**/.DS_Store
